@using TravelToLearn.Models.Siniflar
@model List<Blog>
<div class="con-bot">
    @{int a = 0;}
    @foreach (var x in Model)
    {
        a++;
        var ss = "left";

        if (a == 3)
        {
            ss = "right";
        }
        <div class="@ss">
            <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih.ToString("dd.MM.yyyy")</span>
                <p>@x.Aciklama.Substring(0,105)...</p>
                <p><a href="/Blog/SehirDetay/@x.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }
    <div class="clear"></div>
</div>
